<section class="bg-primary" id="about">
    <div class="container-fluid">
        <div class="row d-flex align-items-center">
            <div class="col-lg-6">
                <img src="img/profile_pic.jpg" class="img-responsive" style="object-fit:cover">
            </div>
            <div class="col-lg-6 text-left">
                <h2 class="section-heading">Something about myself</h2>
                <p class="text-faded font-size: 14px"><br>I'm Stefano, I’m from Italy and after living for several years in London I've now moved to Stockholm.<br><br>
                My background is in life sciences, I’ve studied cell and molecular biology and worked as a postdoctoral researcher in academia. After deciding to transition towards a career in data science, I’ve started to learn Python on my own with free online resources and then pursued a certificate in data analytics to strengthen my foundations and gather more hands-on coding experience.<br><br>
                Among my recent projects there’s one to automate scraping board game prices from specialist websites and one to systematically build a map of South America with Google Maps screenshots. I’ve just completed a new project that finds patterns of protein oxidation during the cell cycle and tries to build a model to predict these patterns. Future plans include analysing some web traffic and marketing data from <a href="https://www.brickborrow.it/" style="color:white">Brickborrow.it</a>.<br><br>
                I like strategy games, tasting new food, playing tennis and basketball, and <s>in a few weeks I will hike</s> I successfully hiked the West Highland Way in Scotland. &#128578;</p>
            </div>
        </div>
    </div>
</section>
