<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-4 text-left">
                <h2 class="section-heading">Something about myself</h2>
                <hr class="light">
                <p class="text-faded">I'm Stefano, I’m from Italy and I’ve been living in Umeå, Cambridge, and London.

                My background is in life sciences, I’ve studied cell and molecular biology and worked as a postdoctoral researcher in academia. After deciding to transition towards a career in data science, I’ve started to learn Python on my own with free online resources and then pursued a certificate in data analytics to strengthen my foundations and gather more hands-on coding experience.
                    
                Among my recent projects there’s one to automate scraping board game prices from specialist websites and one to systematically build a map of South America with Google Maps screenshots. I’m currently working on a project to find patterns of protein oxidation during the cell cycle and to build a model capable of predicting these patterns. Future plans include analysing some web traffic and marketing data from Brickborrow.it.

                I like strategy games, tasting new food, playing tennis and basketball, and <s>in a few weeks I will hike</s> I successfully hiked the West Highland Way in Scotland.</p>
            </div>
        </div>
    </div>
</section>
