<section class="no-padding" id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Portfolio</h2>
                <hr class="primary">
            </div>
        </div>
    </div><div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/StefanoPietra/oxidation_dynamics" class="portfolio-box">
                    <img src="img/portfolio/oxidation_dynamics.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category">
                                Oxidation Dynamics
                            </div>
                            <div class="project-name text-faded">
                                Analysis and modelling of protein oxidation dynamics throughout the cell cycle
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/StefanoPietra/boardgames" class="portfolio-box">
                    <img src="img/portfolio/boardgames.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category">
                                Boardgames
                            </div>
                            <div class="project-name text-faded">
                                A little tracker for boardgame prices in Python
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box" style="color: $theme-primary">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category">
                                Ongoing projects
                            </div>
                            <div class="project-name text-faded">
                                Coming soon...
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
